header
{
	/* Positionnement */
	margin-top : 12px;
	margin-bottom : 13px;
}

header > img
{
	/* Format */
	height : 600px;
	width : 100%;
	
	/* Affichage */
	z-index : -1;
	
	/* Positionnement */
	position : absolute;
	top : 0px;
	left : 0px;
}

header div.jumbotron
{
	/* Police - Texte */
	color : white;
	
	/* Arrière-plan */
	background : none !important;
}

header div.jumbotron p
{
	/* Bordures */
	border-bottom : 1px solid white;
}

header div.row img
{
	/* Forme */
	height : 250px;
}

div a img
{
	/* Positionnement */
	position : absolute;
	
	/* Affichage */
	z-index : 1;
}

div a p
{
	position : absolute;
	top : 200px;
	left : 90px;
	
	z-index : 2;
}