header div.jumbotron
{
	/* Police - Texte */
	color : white;
	
	/* forme */
	max-height : 250px;
	margin : 0px;
	
	/* Arrière-plan */
	background : none !important;
}

header div.jumbotron p
{
	/* Bordures */
	border-bottom : 1px solid white;
}

header .col-img
{
	/* forme */
	padding : 0px;
}

header div.row img
{
	/* Forme */
	width : 100%;
	padding : 10px;
}

header > div.row
{
	/* Placement */
	padding-top : 100px;
}

/* Change la propriété padding-top si l'écran est inf à 768px */
@media all and (max-width : 768px)
{
	header > div.row
	{
		/* Placement */
		padding-top : 0px;
	}
}

header div div div.row
{
	/* Forme */
	min-height : 250px;
}

header div a img
{
	/* Positionnement */
	position : absolute;
	
	/* Affichage */
	z-index : 1;
	
}

header div a p
{
	position : relative;
	
	padding-top : 70%;
	
	text-align : center;
	
	z-index : 2;
}