.News h3 + p
{
	text-align : center;
}

#Carousel
{
	/** Forme **/
	padding : 0px;
	margin-top : 30px;
	margin-bottom : 50px;
}

#Carousel .carousel-inner
{
	/** Forme **/
	padding : 0px;
}

#Carousel .item
{
	/** Forme **/
	height : 400px;
	width : 100%;
	padding : 0px;
}

@media ALL and (min-width : 2560px)
{
	.item img
	{
		position : relative !important;
	}
}

.item img
{
	/** Forme **/
	position : absolute;
	margin : auto;
	width : 100%;
	max-width : 2560px !important;
}


/** Re-cadrage **/
@media ALL and (min-width : 1200px)
{
	.Img-News-0
	{
		margin-top : -20% !important;
	}

	.Img-News-1
	{
		margin-top : -6% !important;
	}

	.Img-News-2
	{
		margin-top : -20% !important;
	}

	.Img-News-3
	{
		margin-top : -20% !important;
	}
}


@media ALL and (max-width : 650px)
{
	.item img
	{
		width : 650px;
	}
}

@media ALL and (max-width : 500px)
{
	/** Si nécessaire, on décale par rapport à la droite (left négatif obligatoire) décalage-max : -150px **/
	.Img-News-0
	{
		margin-left : -75px !important;
	}

	.Img-News-1
	{
		margin-left : -0px !important;
	}

	.Img-News-2
	{
		margin-left : -0px !important;
	}

	.Img-News-3
	{
		margin-left : -50px !important;
	}
}

.item a
{
	/** Forme **/
	position : absolute;
	width : inherit;
	height : inherit;
	
	/* Texte */
	text-decoration : none !important;
}

a .boite-survol
{
	/* Forme */
	width : inherit;
	height : inherit;
	
	/* Display */
	background-color : rgba(255,255,255, 0);
	opacity : 0;
	
	transition : background-color 0.5s, opacity 0.5s;
}

a .boite-survol:hover
{
	/* Display */
	background-color : rgba(255,255,255, 0.1);
	opacity : 1;
}

a .boite-survol p
{
	/* Texte - Police */
	line-height : 400px;
	text-align : center;
	font-size : 70px;
	color : orange;
}

#News-Animes
{
	margin-top : 50px;
	margin-bottom : 50px;
}

#News-Animes > .col-lg-12
{
	margin-bottom : 50px;
}

.Animes-Box
{
	padding : 0px;
}

.News-Animes
{
	width : 100%;
	height : 400px;
	overflow : hidden;
}

.News-Animes img
{
	min-width : 600px;
	height : auto;
}

.News-Animes .Text-Image
{
	position : absolute;
	left : 20%;
	right : 20%;
	bottom : 10%;
	
	color : white;
	text-align : center;
}

.News-Animes a
{
	/** Forme **/
	position : absolute;
	top : 0px;
	left : 0px;
	
	width : inherit;
	height : inherit;
	
	text-decoration : none !important;
	color : orange;
}


